
html {
   font-family: "Rubik", "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI",
     Roboto, "Helvetica Neue", Arial, sans-serif;
   font-size: 16px;
   word-spacing: 1px;
   -ms-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
   -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased;
   box-sizing: border-box;
 }

 *,
 *:before,
 *:after {
   box-sizing: border-box;
   margin: 0;
 }

// $body-bg: #e5e5e5;
$body-bg: #FFF;

$theme-colors: (
  "primary": #069DBF,
  "dark": #323232
);

@import "~bootstrap/scss/bootstrap.scss";
@import "./pages/movie.scss";
@import "./pages/invitations.scss";
@import "./components/breadcrumb.scss";
@import "./components/strike.scss";
@import "./components/header.scss";
@import "./components/footer.scss";
@import "./components/ads.scss";
@import "./components/movie-preview.scss";
@import "./components/cinema-preview.scss";
@import "./components/sidebar.scss";
@import "./components/movie-preview-list-filters.scss";
@import "./components/nav-tabs.scss";
@import "./components/entity-informations.scss";
@import "./components/prog.scss";

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
   font-family: 'Oswald', "Rubik", "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI",
   Roboto, "Helvetica Neue", Arial, sans-serif;;
}

body {
   font-family: 'Rubik', "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI",
   Roboto, "Helvetica Neue", Arial, sans-serif;;
}

// .container {
//    background: #fff;
// }

.c35-section {
   background: $body-bg; // theme-color("dark");
   background: #F0F0F0;
   padding-top: 15px;
   padding-bottom: 15px;
   padding-left: 11px;
   padding-right: 11px;
   overflow-x: hidden;

   .strike {
      margin-right: -26px;
   }
}

.c35-btn {
   padding-left: 1rem;
   padding-right: 1rem;
   font-style: italic;
}

.c35-more {
  width: 100%;
  text-align: right;
  cursor: pointer;
  background: theme-color("primary");

  span {
     color: #FFF;
     font-size: 1.5rem;
     vertical-align: middle;
  }

  svg {
     color: #FFF;
     font-size: 4rem;
  }
}

@include media-breakpoint-up(sm) {
   .c35-more {
      height: 0;
      padding-bottom: 65%;
      background: transparent;
      text-align: center;

      & > div {
         display: inline-block;
         margin-top: 23%;
      }

      span {
         color: theme-color("primary");
      }

      svg {
         color: theme-color("primary");
         font-size: 3rem;
      }

      &:hover {
         background: theme-color("primary");
         span, svg {
          color: #FFF;
         }
      }
   }
}

@include media-breakpoint-up(xl) {
   .c35-more {
      height: 0;
      padding-bottom: 133.333%;
      background: transparent;
      text-align: center;

      & > div {
         margin-top: 50%;
      }

      span {
         display: none;
      }

      svg {
         color: theme-color("primary");
      }

      &:hover {
         background: theme-color("primary");
         svg {
          color: #FFF;
         }
      }
   }
}