
html {
   font-family: "Rubik", "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI",
     Roboto, "Helvetica Neue", Arial, sans-serif;
   font-size: 16px;
   word-spacing: 1px;
   -ms-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
   -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased;
   box-sizing: border-box;
 }

 *,
 *:before,
 *:after {
   box-sizing: border-box;
   margin: 0;
 }

// $body-bg: #e5e5e5;
$body-bg: #FFF;

$theme-colors: (
  "primary": #069DBF,
  "dark": #323232
);

$grid-breakpoints: (
  xs: 0,
  sm: 600px,
  md: 800px,
  lg: 1024px,
  xl: 1300px
);

@import "~bootstrap/scss/bootstrap.scss";
@import "./pages/home.scss";
@import "./pages/movie.scss";
@import "./pages/news.scss";
@import "./pages/invitations.scss";
@import "./components/breadcrumb.scss";
@import "./components/strike.scss";
@import "./components/header.scss";
@import "./components/footer.scss";
@import "./components/ads.scss";
@import "./components/movie-preview.scss";
@import "./components/cinema-preview.scss";
@import "./components/sidebar.scss";
@import "./components/movie-preview-list-filters.scss";
@import "./components/nav-tabs.scss";
@import "./components/entity-informations.scss";
@import "./components/prog.scss";

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
   font-family: 'Oswald', "Rubik", "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

body {
   font-family: 'Rubik', "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;;
}

.font-oswald {
   font-family: 'Oswald', "Rubik", "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

// .container {
//    background: #fff;
// }

.c35-section {
   background: $body-bg; // theme-color("dark");
   background: #F0F0F0;
   padding-top: 15px;
   padding-bottom: 15px;
   padding-left: 11px;
   padding-right: 11px;
   overflow-x: hidden;

   .strike {
      margin-right: -26px;
   }
}

.c35-btn {
   padding-left: 1rem;
   padding-right: 1rem;
   border-radius: 10px;
}

.c35-more {
  width: 100%;
  text-align: right;
  cursor: pointer;
  background: theme-color("primary");

  span {
     color: #FFF;
     font-size: 1.5rem;
     vertical-align: middle;
  }

  svg {
     color: #FFF;
     font-size: 4rem;
  }
}

body {
   background: theme-color("dark");
}

#main-container {
   background: #FFF;
   padding-bottom: 2rem;
   min-height: 70vh;
}

.pub-container {
   background: #FFF;
}

hr {
   max-width: 500px;
   margin-left: auto;
   margin-right: auto;
   background: theme-color("primary");
   margin-top: 2rem;
   margin-bottom: 2rem;
}

.c35-block-title {
   display: block;
   background: theme-color("primary");
   font-size: 24px;
   font-family: 'Oswald', "Rubik", "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
   padding: .5rem;
   color: #FFF;
   text-transform: uppercase;
   text-align: center;

   a {
      color: #FFF;
      &:hover {
         color: #FFF;
      }
   }
}

.c35-btn-filter {
   background: #FFF;
   border-radius: 5px;
   text-transform: uppercase;
   font-size: 1rem;
   font-weight: 500;
   font-family: "Rubik", "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

#c35-btn-filter-movies-ok,
#c35-filter-movie-filters-container {
   display: none;
}

#c35-movie-filter-mobile-container {
   padding: 10px;

   &.active {
      background: #FFF;
      border-radius: 5px;

      #c35-btn-filter-movies-ok,
      #c35-filter-movie-filters-container {
         display: block;
      }

      .c35-btn-filter {
         color: theme-color("primary");
         background: transparent;
      }
   }
}

@include media-breakpoint-down(sm) {
   .c35-block-title {
      font-size: 16px;
      max-width: 100% !important;
   }
}

@include media-breakpoint-up(sm) {
   .c35-more {
      height: 0;
      padding-bottom: 65%;
      background: transparent;
      text-align: center;

      & > div {
         display: inline-block;
         margin-top: 23%;
      }

      span {
         color: theme-color("primary");
      }

      svg {
         color: theme-color("primary");
         font-size: 3rem;
      }

      &:hover {
         background: theme-color("primary");
         span, svg {
          color: #FFF;
         }
      }
   }
}

@include media-breakpoint-up(xl) {
   .c35-more {
      height: 0;
      padding-bottom: 133.333%;
      background: transparent;
      text-align: center;

      & > div {
         margin-top: 50%;
      }

      span {
         display: none;
      }

      svg {
         color: theme-color("primary");
      }

      &:hover {
         background: theme-color("primary");
         svg {
          color: #FFF;
         }
      }
   }
}