
.c35-header {
   padding: 1rem 1rem;

   .navbar-nav .nav-link {
      color: #FFF;
   }

   .nav-item {
      padding-left: 10px;
      padding-right: 10px;
      margin-left: 5px;
      margin-right: 5px;
   }

   .header-dropdown-active, .nuxt-link-exact-active {
      &:not(.navbar-brand) {
         background:  theme-color("primary");
      }
   }

   .dropdown-menu {
      margin-top: 1rem;
      border-radius: 0;
      padding: 0;

      .dropdown-item:hover {
         background: theme-color("primary");
         color: #FFF;
      }
   }

   // .dropdown-toggle::after {
   //    display: none;
   // }
}
