.c35-movie-preview {
   display: block;
   text-decoration: none;
   padding: 0;
   cursor: pointer;
   position: relative;
   overflow: hidden;

   img {
     display: block;
     width: 100%;
     height: auto;
   }

   .c35-movie-preview-overlay {
     position: absolute;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     height: 100%;
     width: 100%;
     opacity: 0;
     padding: 10px;
     transition: 0.2 s ease;
     background-image: linear-gradient(
       -180deg,
       rgba(30, 30, 37, 0.3) 0%,
       rgba(30, 30, 37, 0.8) 51%,
       rgba(30, 30, 37, 0.85) 100%
     );
   }

   .c35-movie-preview-overlay-text {
     color: rgb(228, 228, 228);
     font-size: 12px;
     position: absolute;
     top: 50%;
     left: 0;
     width: 100%;
     -webkit-transform: translate(0, -50%);
     -ms-transform: translate(0, -50%);
     transform: translate(0, -50%);
     text-align: center;

     & > span {
       display: block;
       color: white;
       font-size: 14px;
       background: theme-color("primary");
       padding: .5rem .1rem;
       margin: 0 1rem 1rem;
       max-height: 108px;
       overflow: hidden;
     }

     & > div {
        font-style: italic;
     }
   }

   &:hover {
     .c35-movie-preview-overlay {
       opacity: 1;
     }
   }
 }

 .c35-movie-list-date-section {
    display: inline-block;
    background: #FFF;
    border-radius: 15px;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    padding: .5rem 1rem;
    margin-top: 1rem;
    margin-bottom: .5rem;
 }

 .c35-box-office-score {
   position: absolute;
   right: 4px;
   top: 4px;
   padding: 1rem;
   z-index:1;
   background: theme-color("primary");
   color: #FFF;
   font-size: .9rem;
   text-align: center;
 }

 @include media-breakpoint-up(lg) {
   .c35-movie-preview {
      // max-height: 185.33px;
      // overflow: hidden;
   }
 }

 @include media-breakpoint-up(xl) {
   .c35-movie-preview {
      // max-height: 224.58px;
      // overflow: hidden;
   }
 }