.c35-sidebar-block {
   background: theme-color("dark");
   color: #FFF;
   padding-top: 15px;
   padding-bottom: 15px;
   margin-bottom: 1rem;

   h3 {
      text-align: center;
      text-transform: uppercase;
      font-weight: normal;
      font-size: 2rem;
   }

   .c35-sidebar-content-wrapper {
      padding-bottom: .5rem;
      padding-top: .5rem;
   }

   .c35-sibera-content-title {
      text-align: center;
      text-transform: uppercase;
      font-family: "Oswald", "Rubik", "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
      overflow: hidden;
      font-size: 1rem;
   }

   .c35-sibera-content-desc {
      font-size: .9rem;
      padding-bottom: 1rem;
      border-bottom: 1px solid theme-color("primary");

      a {
         color: #FFF;
      }
   }

   .c35-sibera-content-action {
      margin-top: 1rem;
      text-align: center;
   }

   .c35-sidebar-content-wrapper:last-child {
      .c35-sibera-content-desc {
         border-bottom: 0px;
      }
   }
}