#home-page {
   .c35-col-right {
      max-width:  360px;
   }
}

@include media-breakpoint-down(md) {
   #home-page {
      .c35-col-right {
         min-width: 100%;
         max-width: 100%;
      }
   }
}